.item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(#ffffff);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  display: block;
}

.name {
  font-size: 20px;
  font-weight: bold;
}
